.card-portfolio {
    background-color: #f9f9fb;
  }
  
  .card-details {
    background-color: #f3f5fa;
  }
  
  .card-comparison {
    background-color: #f5f9f6;
  }
  
  .section-title {
    color: #0056b3;
    font-weight: bold;
  }
  